*{
    margin:0;
    box-sizing:border-box;
}
ul,ol{
    padding: 0;
}
:root{
	--primary-color:#08080e;
	--secondary-color:#181818;
	--bg-color:#68f8f8;
	--font-color:#fff;
	--eg-color:#000;
}
body{
	font-family:'Poppins';
	font-size:16px;
	font-weight:400;
	color:var(--font-color);
	background-color:var(--eg-color);
}
/* loader */
.box{
    width:100%;
    height: 100vh;
    background-color: var(--eg-color);
    position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
}
.dot2{
    width: 10px;
    height: 10px;
    background-color: var(--font-color);
    border-radius: 50%;
    position: absolute;
    top:52%;
    left:47%;
    animation-name: dot-bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.265, 1);
    
}
.dot2:nth-child(2){
    left:49%;
    animation-delay: 0.2s;
}
.dot2:nth-child(3){
    left:51%;
    animation-delay: 0.4s;
}
.dot2:nth-child(4){
    left:53%;
    animation-delay: 0.6s;
}
@keyframes dot-bounce {
    0%,100%{
        top:52%;
    }
    50%{
        top:47%;
    }
}
.loading{
	height: 100vh;
	overflow: hidden;
}
.container{
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap ;
}
header{
	width:100%;
	padding:20px 45px;
	position: absolute;
	z-index: 2;
}
.align-items-center{
	align-items:center;
}
.justify-content-center{
	justify-content:center;
}
.justify-content-between{
	justify-content: space-between;
}
.justify-content-evenly{
	justify-content:space-evenly;
}
.logo a{
	color:var(--font-color);
	text-decoration:none;
	font-size:36px;
	font-weight:700;
	text-transform:uppercase;
	margin-left:30px;
}
/* .logo a:hover{
	transform: translateX(10px);
} */
.toggle{
	color: var(--font-color);
	border: 2px solid var(--bg-color);
	padding: 7px 14px;
	border-radius: 5px;
	font-size: 20px;
	display: none;
}
nav{
	margin-left:auto;
}
nav ul{
	display:flex;
}
nav ul li{
	list-style:none;
	margin-right:10px;
}
nav ul li a{
	color:var(--font-color);
	text-decoration:none;
	padding:10px;
	text-transform:uppercase;
	font-size:13px;
	letter-spacing:0.5px;
	transition: all 0.5s;
}
nav ul li:nth-last-child(2) a{
	border:2px solid var(--bg-color);
}
nav ul li:nth-last-child(2) a:hover{
	background-color: var(--bg-color);
	color: var(--eg-color);
}
nav ul li:nth-last-child(2) i{
	transition: all 0.5s;
}
nav ul li:nth-last-child(2):hover i{
	color: var(--eg-color);
}
nav ul li:first-child a{
	border-bottom:2px solid var(--bg-color);
}
nav ul li:hover a{
	border-bottom: 2px solid var(--bg-color);
}
nav ul li a i {
	padding-left:10px;
	vertical-align:middle;
	color:var(--bg-color);
}
.sticky{
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	background-color: #212121;
}
/* slider */
.slider-bg{
	background-image: url('../images/swan5.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 40px;
	position: relative;
	z-index: 1;
}
.slider-bg::before{
	position: absolute;
	content: '';
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top:0;
	left: 0;
	z-index: -1;
}
.slider-caption{
	width:50%;
	margin-bottom: 100px;
	padding-top: 100px;
}
.slider-caption p{
	color: var(--bg-color);
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
}
.slider-caption h1{
	color:var(--font-color);
	font-size:55px;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 40px;
}
.btn{
	border:2px solid var(--bg-color);
	color: var(--bg-color);
	text-decoration: none;
	text-transform: uppercase;
	font-size:14px;
	font-weight:500;
	padding:15px;
	display: inline-block;
	transition: all 0.5s;
}
.btn:hover{
	background-color: var(--bg-color);
	color: #212121;
}
.service-box{
	flex-basis: 32%;
	background-color: var(--primary-color);
	padding: 30px;
	cursor: pointer;
	transition: all 0.5s;
}
.service-box:hover{
	border: 2px solid var(--bg-color);
	box-shadow: 0px 0px 10px 1px var(--bg-color);
}
.service-box i{
	color: var(--bg-color);
	margin-bottom: 40px;
	font-size: 30px;
}
.service-box h3{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
	position: relative;
	padding-bottom: 20px;
}
.service-box h3::after{
	position: absolute;
	content: '';
	width:14%;
	height: 2px;
	background-color: var(--bg-color);
	top:100%;
	left:0;
}
.service-box p{
	font-size: 13px;
	width: 98%;
}
.service-box:nth-child(2){
	position: relative;
	border:2px solid var(--bg-color);
}
.service-box:nth-child(2)::after{
	position: absolute;
	content: '';
	height:30px;
	width: 2px;
	background-color: var(--bg-color);
	top:100%;
	left:50%;
	transform: translatex(-50%);
}
.py-100{
	padding-top:100px;
	padding-bottom:100px;
}
.title h3{
	font-size:32px;
	font-weight:700;
	position:relative;
	padding-left:60px;
	letter-spacing:0.5px;
}
.title h3::before{
	position:absolute;
	content:'';
	width:40px;
	height:2px;
	background-color:var(--bg-color);
	left:0;
	top:50%;
	transform:translateY(-50%);
}
.title span{
	font-size:13px;
	text-transform:uppercase;
	color:var(--bg-color);
	font-weight:300;
	letter-spacing:0.5;
	display:block;
}
.title{
	margin-bottom:40px;
}
.services{
	background-color:var(--primary-color);
}
.services .row{
	margin-top:50px;
}
.services .service-box{
	margin-bottom:60px;
	border-bottom:3px solid var(--font-color);
}
.services .service-box:nth-child(2){
	border:none;
	border-bottom:3px solid var(--font-color);
}
.services .service-box:nth-child(2)::after{
	background-color:transparent;
}
.services .service-box h3::after{
	background-color:transparent;
}
.services .service-box h3{
	margin-bottom:0;
}
.services .service-box:nth-child(3) h3{
	padding-top:68px;
}
.services .service-box:nth-child(3){
	background-color:var(--bg-color);
	color:var(--eg-color);
}
.services .service-box:nth-child(5){
	position:relative;
}
.services .service-box:nth-child(5)::after{
	position: absolute;
	content: '';
	height:50px;
	width: 2px;
	background-color: var(--bg-color);
	top:300px;
	left:50%;
	transform: translatex(-50%);
}
/* fixed box */
.fixed-box{
	width:50px;
	height: 50px;
	background-color: var(--bg-color);
	text-align: center;
	border-radius: 50%;
	position: fixed;
	right: 3%;
	bottom: 4%;
	z-index: 1000;
	cursor: pointer;
	opacity: 0;
	transition: all 0.5s;
}
.fixed-box i{
	font-size: 24px;
	color: var(--eg-color);
	line-height: 50px;
}
/* works */
.works{
	background-color:var(--secondary-color);
}
.works .btn{
	margin-left:87%;
	transform:translateY(-90%);
}
.works .title{
	margin-bottom:0;
}
.works .row{
	width:100%;
	margin-bottom:50px;
}
.work-img{
	flex-basis:19.8%;
	display:flex;
	height:300px;
	padding-left:20px;
	padding-right:20px;
	position:relative;
}
.work-img img{
	max-width:100%;
}
.work-img::after{
	position: absolute;
	content: '';
	height:50px;
	width: 2px;
	background-color: var(--bg-color);
	top:360px;
	left:680px;
	/* transform: translatex(-50%); */
}
/* about */
.about{
	background-color:var(--primary-color);
}
.img-box,.img-box-right{
	flex-basis:48%;
	position:relative;
}
.img-box-bottom,.img-box-top{
	height:50%;
}
.img-box img{
	max-width:100%;
}
.img-caption{
	position:absolute;
	bottom:50px;
	left:30px;
}
.img-caption h4{
	text-transform:capitalize;
	line-height:30px;
	margin-bottom:5px;
	font-size:18px;
	letter-spacing:0.5px;
}
.img-caption span{
	font-size:13px;
}
.img-box-top img,.img-box-bottom img{
	max-width:100%;
}
.img-box-top .img-caption{
	top:37%;
}
.about-para{
	display:flex;
	margin-top:30px;
	position:relative;
	margin-bottom:120px;
}
.about-para-box{
	padding:20px;
	flex-basis:33%;
	padding-right:50px;	
}
.about-para-box h4{
	font-size:20px;
	font-weight:600;
	margin-bottom:15px;
}
.about-para-box p{
	font-size:13px;
	line-height:2;
	font-weight:300;
	color:var(--font-color);
}
.about-para-box:nth-child(2){
	border-left:2px solid var(--bg-color);
	border-right:2px solid var(--bg-color);
}
.about-para::after{
	position: absolute;
	content: '';
	height:50px;
	width: 2px;
	background-color: var(--bg-color);
	top:300px;
	left:50%;
	transform: translatex(-50%);
}
/* testimonial */
.testimonial-bg{
	background-color:var(--secondary-color);
}
.testimonial{
	display:flex;
	margin-bottom:50px;
}
.review-box{
	background-color:#080812;
	border:1px solid #282828;
	padding:30px;
	text-align:center;
	margin-bottom:40px;
	position:relative;
}
.review{
	/* padding:20px; */
	flex-basis:24%;
}
.review-box i{
	color:var(--bg-color);
	font-size:24px;
	margin-bottom:20px;
}
.review-box p{
	font-size:12px;
	margin-bottom:20px;
	font-weight:300;
}
.ratings i{
	font-size:12px;
	letter-spacing:2px;
}
.review-name{
	text-align:center;
}
.review-name h5{
	font-size:16px;
	font-weight:500;
	line-height:1;
}
.review-name span{
	font-size:12px;
	font-weight:300;
}
.review-img{
	height:50px;
	width:50px;
	position:absolute;
	left:50%;
	transform:translatex(-70%);
}
.review-img img{
	max-height:100%;
	border-radius:50%;
}
.r-logo{
	height:80px;
	width:80px;
	display:flex;
	text-align:center;
	margin-top:40px;
	position:relative;
	margin-bottom:100px;
	cursor: pointer;
}
.r-logo img{
	max-height:100%;
	padding:10px;
}
.r-logo img:first-child{
	margin-left:250px;
}
.r-logo::after{
	position: absolute;
	content: '';
	height:50px;
	width: 2px;
	background-color: var(--bg-color);
	top:150px;
	left:570px;
	transform: translatex(-50%);
}
/* news */
.news-bg{
	background-color:var(--primary-color);
}
.news-title{
	text-align:center;
	margin-bottom:50px;
}
.news-title h2{
	font-size:35px;
	line-height:1.5;
}
.news-title span{
	color:var(--bg-color);
	font-size:13px;
	text-transform:uppercase;
}
.news{
	display:flex;
	flex-wrap:wrap;
	position:relative;
	margin-bottom:100px;
}
.news-box{
	flex-basis:32%;
	border:2px solid #282828;
}
.news-img img{
	max-width:100%;
}
.news-content{
	padding:20px;
}
.news-content p{
	font-size:12px;
	font-weight:400;
}
.news-content:last-child p{
	margin-top:10px;
	margin-bottom:15px;
}
.news-content p:first-child{
	margin-top:0;
}
.news .btn{
	color:var(--font-color);
	padding:10px 20px;
	font-size:13px;
	font-size:400;
}
.news::after{
	position: absolute;
	content: '';
	height:50px;
	width: 2px;
	background-color: var(--bg-color);
	top:110%;
	/* left:50%; */
	/* transform: translatex(-50%); */
}
/* inquiry */
.inquiry-bg{
	background-image:url('../images/i-bg.jpg');
	background-size:cover;
	background-position:center;
	position:relative;
}
.inquiry-bg::after{
	position:absolute;
	content:'';
	background-color:rgba(0,0,0,0.5);
	height:100%;
	width:100%;
	top:0;
	left:0;
}
.inquiry-box{
	z-index:1;
}
.social-icon{
	text-align:center;
}
.social-icon i{
	color:var(--bg-color);
	font-size:18px;
	border:2px solid var(--bg-color);
	border-radius:50%;
	padding:7px;
	margin-right:10px;
	transition: all 0.5s;
	cursor: pointer;
}
.social-icon i:hover{
	background-color: var(--bg-color);
	color: black;
}
.inquiry-box h3{
	margin-top:35px;
	margin-bottom:40px;
	font-size:34px;
	letter-spacing:0.5px;
}
.inquiry-box .btn{
	margin-left:140px;
	padding:15px 30px;
	font-size:14px;
}
/* footer */
.footer-bg{
	background-color:var(--primary-color);
	padding-top:100px;
}
.footer{
	display:flex;
	margin-bottom:100px;
}
.footer .logo a{
	font-size:28px;
	letter-spacing:1px;
	margin-left:0;
}
.footer .logo p{
	font-size:12px;
	line-height:2;
	margin-bottom:20px;
}
.footer .logo{
	position:relative;
	padding-right:30px;
	margin-left:90px;
	margin-right:150px;
}
.footer .logo::after{
	position:absolute;
	content:'';
	height:2px;
	width:45px;
	background-color:var(--bg-color);
}
.contact h6{
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	margin-bottom:10px;
}
.contact ul li{
	list-style:none;
}
.contact ul li p{
	font-size:12px;
	line-height:2.8;
	/* margin-left:30px; */
	font-weight:400;
	letter-spacing:0.5;
	font-family:'Poppins';
	transition: all 0.5s;
	cursor: pointer;
}
.contact ul li p:hover{
	color: var(--bg-color);
}
.contact ul li a{
	color:var(--font-color);
	text-decoration:none;
	/* margin-left:20px; */
	font-size:12px;
	font-weight:400;
	line-height:2.8;
	transition: all 0.5s;
}
.contact ul li a:hover{
	color: var(--bg-color);
}
.contact-detail{
	display:flex;
}
.contact-left i{
	color:var(--bg-color);
	text-align: left;
    min-width: 21px;
    font-size: 16px;
    line-height: 2;
}
.contact{
	margin-right:100px;
}
.contact-left{
	margin-right:10px;
}
.footer-service h6,.footer-about h6{
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	margin-bottom:10px;	
}
.footer-service{
	margin-right:80px;
}
.footer-service ul li,.footer-about ul li{
	list-style:none;
	font-size:12px;
	line-height:2.8;
	font-weight:400;
	letter-spacing:0.5;
	font-family:'Poppins';
	cursor: pointer;
	transition: all 0.5s;
}
.footer-service ul li:hover,.footer-about ul li:hover{
	color: var(--bg-color);
}
.line{
	width:100%;
	border-top:	1px solid #282828;
}
.policy{
	display:flex;
}
.policy-left{
	margin-top:20px;
	/* margin-bottom:10px; */
	margin-left:90px;
}
.policy-top{
	display:flex;
}
.policy-top p:first-child{
	font-size:9px;
	margin-right:100px;
	display:inline-block;
	color:var(--font-color);
}
.policy-top p:nth-child(2),.policy-top p:last-child{
	font-size:9px;
	margin-right:50px;
	display:inline-block;	
	color:var(--bg-color);
	text-transform:uppercase;
	letter-spacing:0.5px;
}
.policy-left p{
	color:var(--bg-color);
	font-size:8px;
	margin-top:15px;
}
.policy-right{
	margin-top:50px;
	margin-bottom:30px;
	margin-left:290px;
}
.policy-right i{
	color:var(--bg-color);
	padding:8px;
	font-size:14px;
	display:inline-block;
}
@media (min-width:1400px) {
	.container{
		width: 1340px;
	}
}
@media (min-width:1200px) and (max-width:1399px){
	.container{
		width:1140px;
	}
}
@media (min-width:992px) and (max-width:1199px){
	.container{
		width:960px;
	}
	.slider-caption{
		padding-left: 50px;
	}
	.work-img{
		flex-basis: 20.5%;
	}
	.work-img::after{
		left: 535px;
	}
	.r-logo img:first-child{
		margin-left: 115px;
	}
	.r-logo::after{
		left: 500px;
	}
	.footer .logo{
		margin-left: 75px;
		margin-right: 80px;
	}
	.policy{
		width: 100%;
	}
	.policy-right{
		margin-left: auto;
	}
}
@media (min-width:768px) and (max-width:991px){
	.container{
		width:720px;
	}
	.slider-caption{
		width: 60%;
		padding-top: 60px;
	}
	header nav{
		display: none;
	}
	.toggle{
		display: block;
	}
	.works .btn{
		margin-left: 80%;
	}
	.work-img{
		flex-basis: 24.8%;
	}
	.work-img::after{
		left: 425px;
	}
	.work-img img:last-child{
		display: none;
	}
	.py-100{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.testimonial{
		flex-wrap: wrap;
		margin-bottom: 15px;
	}
	.review{
		flex-basis: 47%;
		margin-bottom: 20px;
	}
	.r-logo img:first-child{
		margin-left: 0;
	}
	.r-logo::after{
		left: 360px;
	}
	.footer .logo{
		margin-right: 0;
		margin-left: 22px;
	}
	.contact{
		margin-right: 60px;
	}
	.footer-service{
		margin-right: 40px;
	}
	.policy-left{
		margin-left: 30px;
	}
	.policy-right{
		margin-left: 45px;
	}
}
@media (min-width:576px) and (max-width:767px){
	.container{
		width:540px;
	}
	header nav{
		display: none;
	}
	.toggle{
		display: block;
	}
	.slider-bg{
		background-position: 20%;
	}
	.slider-caption{
		width: 60%;
		padding-top: 60px;
	}
	.slider-caption p {
		font-size: 12px;
		margin-bottom: 10px;
	}
	.slider-caption h1{
		font-size: 45px;
		margin-bottom: 30px;
	}
	.btn{
		font-size: 11px;
		padding: 10px;
	}
	.service-box{
		flex-basis: 75%;
		margin-bottom: 20px;
	}
	.ser-row,.services .row{
		justify-content: center;
	}
	.services .service-box{
		margin-bottom: 25px;
	}
	.py-100{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.works .btn{
		margin-left: 75%;
	}
	.work-img img:nth-child(6){
		display: none;
	}
	.work-img{
		flex-basis: 26.5%;
	}
	.work-img::after{
		top:325px;
		left: 305px;
	}
	.img-caption{
		bottom: 25px;
		left: 20px;
	}
	.img-box-top .img-caption{
		top: 30%;
	}
	.img-caption h4{
		line-height: 10px;
		font-size: 15px;
	}
	.img-caption span{
		font-size: 11px;
	}
	.about-para{
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 0;
	}
	.about-para-box{
		flex-basis: 90%;
	}
	.about-para-box:nth-child(2) {
    	border-bottom: 2px solid var(--bg-color);
    	border-top: 2px solid var(--bg-color);
		border-left: none;
		border-right: none;
	}
	.about-para::after{
		display: none;
	}
	.testimonial{
		flex-wrap: wrap;
		margin-bottom: 15px;
	}
	.review{
		flex-basis: 95%;
		margin-bottom: 20px;
	}
	.r-logo img:first-child{
		margin-left: 0;
	}
	.r-logo img:nth-child(6),.r-logo img:nth-child(7){
		display: none;
	}
	.r-logo::after{
		left: 260px;
	}
	.news-box{
		flex-basis: 75%;
		margin-bottom: 20px;
	}
	.footer{
		flex-wrap: wrap;
	}
	.footer .logo,.contact{
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		flex-basis: 50%;
	}
	.footer-service{
		margin-right: 0;
		flex-basis: 50%;
		margin-top: 30px;
	}
	.footer-about{
		margin-top: 30px;
		flex-basis: 48%;
	}
	.policy{
		width: 100%;
		justify-content: space-between;
	}
	.policy-left p{
		display: none;
	}
	.policy-top p:nth-child(2), .policy-top p:last-child{
		margin-right: 30px;
	}
	.policy-top p:first-child{
		margin-right: 30px;
	}
	.policy-left{
		margin-left: 10px;
	}
	.policy-right{
		margin-top: 27px;
		margin-left: 0;
	}
}
@media (max-width:575px){
	.container{
		width:100%;
		padding-left: 30px;
		padding-right: 30px;
	}
	.logo a{
		margin-left: 0;
	}
	header nav{
		display: none;
	}
	.toggle{
		display: block;
	}
	.slider-bg{
		background-position: 20%;
	}
	.slider-caption{
		width: 100%;
		padding-top: 60px;
	}
	.slider-caption p {
		font-size: 10px;
		margin-bottom: 10px;
	}
	.slider-caption h1{
		font-size: 40px;
		margin-bottom: 25px;
	}
	.btn{
		font-size: 11px;
		padding: 10px;
	}
	.service-box{
		flex-basis: 100%;
		margin-bottom: 20px;
	}
	.ser-row,.services .row{
		justify-content: center;
	}
	.services .service-box{
		margin-bottom: 25px;
	}
	.py-100{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.works .row{
		margin-bottom: 0;
	}
	.works .btn{
		margin-left: 75%;
	}
	.work-img img:nth-child(6),.work-img img:nth-child(5){
		display: none;
	}
	.work-img{
		flex-basis: 35%;
		height: 200px;
	}
	.work-img::after{
		display: none;
	}
	.img-box, .img-box-right{
		flex-basis: 100%;
	}
	.img-caption{
		bottom: 25px;
		left: 20px;
	}
	.img-box-top .img-caption{
		top: 35%;
	}
	.img-caption h4{
		line-height: 10px;
		font-size: 15px;
	}
	.img-caption span{
		font-size: 11px;
	}
	.about-para{
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 0;
	}
	.about-para-box{
		flex-basis: 90%;
	}
	.about-para-box:nth-child(2) {
    	border-bottom: 2px solid var(--bg-color);
    	border-top: 2px solid var(--bg-color);
		border-left: none;
		border-right: none;
	}
	.about-para::after{
		display: none;
	}
	.testimonial{
		flex-wrap: wrap;
		margin-bottom: 15px;
	}
	.review{
		flex-basis: 95%;
		margin-bottom: 20px;
	}
	.r-logo img:first-child{
		margin-left: 0;
	}
	.r-logo img:nth-child(6),.r-logo img:nth-child(7),.r-logo img:nth-child(4),.r-logo img:nth-child(5){
		display: none;
	}
	.r-logo::after{
		display: none;
	}
	.r-logo{
		margin-bottom: 0;
	}
	.news{
		margin-bottom: 0;
	}
	.news-box{
		flex-basis: 90%;
		margin-bottom: 20px;
	}
	.inquiry-box h3{
		font-size: 21px;
	}
	.inquiry-box .btn{
		margin-left: 90px;
		padding: 10px;
		font-size: 11px;
	}
	.footer-bg{
		padding-top: 50px;
	}
	.footer{
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		margin-bottom: 50px;
	}
	.footer .logo,.contact{
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		flex-basis: 80%;
		margin-top: 30px;
	}
	.footer-service{
		margin-right: 0;
		flex-basis: 80%;
		margin-top: 30px;
	}
	.footer-about{
		margin-top: 30px;
		flex-basis: 80%;
	}
	.policy{
		width: 100%;
		justify-content: space-between;
	}
	.policy-left p{
		display: none;
	}
	.policy-top p:nth-child(2), .policy-top p:last-child{
		margin-right: 20px;
	}
	.policy-top p:first-child{
		margin-right: 20px;
	}
	.policy-left{
		margin-left: 10px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.policy-right{
		display: none;
	}
}